{:paths ["src" "data"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        scicloj/metamorph.ml {:mvn/version "0.8.2"}
        uncomplicate/deep-diamond {:mvn/version "0.28.1"}
                                        ;uncomplicate/neanderthal {:mvn/version "0.49.1"}
        org.bytedeco/mkl-platform-redist {:mvn/version "2024.0-1.5.10"}
                                        ;org.bytedeco/cuda {:mvn/version "12.3-8.9-1.5.10"}
                                       ;org.bytedeco/dnnl-platform {:mvn/version "3.3.4-1.5.10"}
        org.bytedeco/mkl-platform {:mvn/version "2024.0-1.5.10"}
        org.clojure/data.csv {:mvn/version "1.1.0"}}
 :aliases 
 { 
  :check {:jvm-opts [ "-Dclojure.compiler.direct-linking=true"]}}}


